//    COLORS

$color-primary--light: #F3B700;
$color-primary: #FAA300;
$color-primary--dark: #E57C04;


$color-secondary--light: #8EA4D2;
$color-secondary: #6279B8;
$color-secondary--dark: #49516F;


$color-black: rgb(22, 0, 0);
$color-white: #fff;

$color-gray--light: #f2f2f2;
$color-gray: #ccc;
$color-gray--dark: #333;

//    BORDERS

$border-rounded: 10px;

//    SHADOWS

$shadow: 0 1rem 2rem rgba($color-black, .3);
$shadow-sm: 0 .3rem .9rem rgba($color-black, .2);
