*,
*:before,
*:after {
  box-sizing: border-box;
}

header, main {
  font-family: sans-serif;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.desktop-header {
  display: flex;
  justify-content: space-around;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  height: 6.6rem;
  overflow-x: hidden; 
  margin: 0 -0.5rem;
  overflow-y: hidden;
  margin-top: -1rem;
}

.desktop-logo {
  position: absolute;
  left: .5rem;
  width: 66px;
  height: 66px;
  margin: 1.6rem 0 .4rem 1.25rem;
}

.little-help-book {
  position: absolute;
  left: 1.7rem;
  font-size: 2.2rem;
  white-space: nowrap;
  margin: 2.4rem 0 0 5.8rem;
}

.breadcrumb-box {
  margin-left: 20rem;
}

.breadcrumb-box select {
  /* hide default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.breadcrumb {
  background: black;
  border-color: rgb(126, 126, 126);
  color: rgb(226, 226, 226);
  font-family: sans-serif;
  font-size: 1.45rem;
  font-style: none;
  font-weight: bold;
  height: 2.7rem;
  width: 16.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-width: 0.1rem;
  border-bottom-color: rgb(126, 126, 126);
  margin: 2.6rem 0 0 -0.5rem;
}

select:hover {
  color: white;
  transition: 0.3s color ease-in-out;
}

option {
  background-color: white;
  color: black;
  font-size: 1.4rem;
}

/* I haven't figured out how to get this option :hover style to work. */
option :hover {
  color: #0077ff;
  background-color: rgb(226, 226, 226);
}

.city:hover::after { 
  color: #F39C12; 
} 
/* Neither of those attempts affects the default dropdown style. */

.city {
  margin-left: 8rem;
}

.search {
  display: flex;
  width: 3%;
  margin: 2.3rem 0 0;
  padding-right: 4.5rem;
}

header .search input {
  width: 100%;
  height: 2.4rem;
}

.search-input {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding-left: 40px;
  border: none;
}

.menu-button {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  color: rgb(226, 226, 226);
  background-color: black;
  border-radius: 8px;
  border-style: solid;
  border: none;
  white-space: nowrap;
  transition: 0.3s color ease-in-out;
  margin: 2.6rem .5rem 1.5rem 0;
}

.lane-county {
  color: rgb(226, 226, 226);
  margin: 3rem .5rem 0 30rem;
  white-space: nowrap;
}

.find-my-city:hover {
  color: white;
}

.dropdown-button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: .25rem;
  padding: 1.5rem 0;
}

.list-of-cities {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 6.1rem;
	left: 50rem;
}

/* Links inside the dropdown */
.list-of-cities a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.list-of-cities a:hover {
  background-color: #ddd;
  color: #0077ff;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* end dropdown styles */
  
.spanish:hover {
  color: white;
}

.about:hover {
  color: white;
}

.about {
  color: rgb(226, 226, 226);
}

.search {
  width: 3%;
  margin: 2.3rem 0 0;
  padding-right: 4.5rem;
}

header .search input {
  width: 100%;
  height: 2.4rem;
}

.search-input {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding-left: 40px;
  border: none;
}

body {
  background-color: #f5f5f5;
}

.about-container {
	display: flex;
	margin: 0 3.5rem;
	margin-top: 2.25rem;
}

.right-side {
	width: 50%;
}

label {
	font-size: 1.1rem;
}

input {
	border: none;
	padding: 1rem 34%;
	margin-top: 0.4rem;
	margin-bottom: 1.5rem;
}

.left-side {
	width: 47%;
	margin-right: 2rem;
}

.about-heading {
	margin-bottom: .5rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}

.blue-link {
	color: #4A9AF8;
}

.ri-wheelchair-fill {
	font-size: 1.4rem;
}

.ri-earth-fill {
	font-size: 1.25rem;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.7rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1rem;
  color: gray;
  margin: 3rem 0 1rem;
  padding: 1rem;
}

.footer-item {
  padding: 0 1rem;
}

.footer-url {
  color: #4A9AF8;
  font-weight: bold;
}

.terms-of-use {
  color: gray;
}

/* end desktop styles */

.mobile-container {
  display: none;
}

/* responsive transition to tablet */

@media screen and (max-width: 1056px) {

  .mobile-container {
      display: inline;
  }

  .desktop-header, .breadcrumb-box {
      display: none;
	}
	
	.menu-lines {
		margin-left: -2rem;
		margin-right: 1rem;
	}

	.hamburger {
		width: 35px;
		height: 6px;
		background-color: rgb(126, 126, 126);
		border-radius: 2.5px;
		margin: 5.5px 0 0 10.5px;
	}

  body {
    display: flex;
    flex-direction: column-reverse;
  }

  header {
    padding-top: 0;
  }

  header .logo-title {
    display: flex;
  }

  header {
      background-color: black;
      height: 6.6rem;
      overflow-x: hidden; 
      margin: 0 -0.5rem;
      overflow-y: hidden;
      margin-top: -1rem;
  }

  img {
      position: absolute;
      width: 66px;
      height: 66px;
      margin: 1.6rem 0 .4rem 1.75rem;
  }

  .little-help-book {
      position: absolute;
      color: white;
      font-size: 2.2rem;
      font-weight: bold;
      font-family: sans-serif;
      margin: 2.4rem 0 0 5.8rem;
  }

  #search {
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

		.mobile-container {
				display: inline;
		}
		
		header {
				padding-top: 0;
		}
		
		header .logo-title {
				display: flex;
		}

		.about-container {
			flex-direction: column;
		}

		.left-side {
			width: 100%;
		}

		.right-side {
			width: 100%;
		}
  }
  
  /* begin mobile styles */
  
  @media screen and (max-width: 640px) {
  
    header {
        height: 5rem;
    }
  
    img {
        width: 42px;
        height: 42px;
        margin: 1.49rem 0 .4rem 1.35rem;
    }
  
    .little-help-book {
        font-size: 1.2rem;
        margin: 2.1rem 0 0 3.7rem;
    }

    #search {
      margin-right: 1.5rem;
    }

    .search {
      margin: 1.5rem 0 0;
		}

		.about-container {
			margin-top: 1.75rem;
			margin: 0 2rem;
		}
		
		footer {
			flex-direction: column;
			align-items: center;
			line-height: 2rem;
		}
	}