main {
  columns: auto;
}

.about-container {
	display: flex;
	margin: 2.25rem 3.5rem 0 3.5rem;
}

.left-side {
	width: 47%;
	margin-right: 2rem;
	margin-top: -0.1rem;
}

.about-heading {
	margin-bottom: .5rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}

.blue-link {
	color: #086CDD;
}

.ri-wheelchair-fill {
	font-size: 1.4rem;
}

.ri-earth-fill {
	font-size: 1.25rem;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.7rem;
}

.right-side {
	width: 50%;
}

label {
	font-size: 1.1rem;
}

.form-buttons {
  display: flex;
  width: 41%;
}

.form {
  font-family: sans-serif;
  font-size: 1.1rem;
}

textarea {
  resize: none;
  height: 3.4rem;
}

.form, .submit-button {
	border: none;
	padding: 1rem 0;
	margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.submit-button {
	font-family: sans-serif;
	font-size: 1.1rem;
	background-color: rgb(226, 226, 226);
	cursor: pointer;
}

.send:hover {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #086CDD;
  box-shadow: .5rem .5rem .75rem #8888;
}

.clear:hover {
  color: white;
  background-color: #086CDD;
}

.clear {
  margin-right: 1.5rem;
}

/* end desktop styles, begin responsive transition to tablet */

@media screen and (max-width: 1056px) {
	
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
}
  
/* begin mobile styles */
  
@media screen and (max-width: 640px) {
  
  .about-container {
    margin: 1.75rem 2rem 0 2rem;
  }
  
  .form-buttons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-buttons {
    flex-direction: column;
  }

  .clear {
    margin-right: 0;
  }
  
  footer {
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    position: static;
    width: auto;
  }

  .footer-url {
    font-weight: normal;
  }
}