* {
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    color: #bf3fbf;
  }
  
 .page-container {
    display: grid;
    grid-template-columns: .2fr 2fr 4.4fr;
    grid-template-rows: 60px 60px 42px 100vh;
    margin: 0 6rem 0 6rem;
 }

.resource-list {
    grid-column: 3 / 4;
    grid-row:  4 / 5;
}

.subcategory-name {
    font-family: Muli, sans-serif;
    font-weight: bold;
    padding: .5em 0;
    font-size: 1em;
    background-color: #f5f5f5;
}

  .provider {
    font-size: .85em;
    font-family: sans-serif;
    line-height: 2em;
    color: blue;
  }

  img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem 0 0 0;

  }

  .navigation-menus {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: end;
  }

  .breadcrumb {
    background: #ccc7c7;
    font-size: 1rem;
    font-family: Muli, sans-serif;
    height: 2rem;
    width: 15rem;
    margin: 1rem 0 0 1.5rem;
  }

  option {
    background-color: #ccc7c7;
  }

  .category-page-name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-family: Muli, sans-serif;
    font-size: 1.8rem;
    display: grid;
    align-items: end;
  }

  .subcategory-show-hide {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-family: Muli, sans-serif;
    font-size: .85rem;
  }

  .subcategory-checkboxes {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .subcategory-list {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-family: Muli, sans-serif;
    font-size: 1rem;

  }

  .search {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: end;
  }
  
  .search input[type=text] {
    width: 60%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #e2e2e2;
    padding: 0 0 0 1rem;
  }
  
  .input[name="size"] {
    width: 100%;
  }

  .nav-buttons {
    display: flex;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
 
  .list-grid  {

  }
 
  .page-indicator {

  }

  .print-page {

  }

  .print-all {

  }