* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: #bf3fbf;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 46px 52px 730px 100px;
}

.little-help-book-title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1rem;
  vertical-align: baseline;
  padding: 2.5rem 0 0 6rem;
  white-space: nowrap;
}

.about {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  padding: 1rem 0 0 6rem;
}

.clinic-name {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: Concert One, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  padding: 2.5rem 0;
}

.emergency-container {
  display: grid;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-size: .75em;
  padding: 1.25rem 0 0 0;
}

.emergency-button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em 1em;
  border-radius: 22px;
  border: none;
  order: 2;
}

.lane-county {
  grid-row: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1rem;
  vertical-align: baseline;
  padding: 2.5rem 0;
  white-space: nowrap;
}

.find-my-city {
  grid-row: 2;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: .25em;
  padding: 1.5rem 0;
}

.search {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 0 .75rem 0;
}

.search input[type=text] {
  width: 60%;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: #e2e2e2;
  padding: 0 0 0 1rem;
}

.input[name="size"] {
  width: 100%;
}

.table-of-contents {
  display: grid;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 5;
}

.table-of-contents {
  height: 700px;
  display: flex;
  flex-flow: column wrap;
  padding: 3.5rem 6rem 0 6rem;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0;
  width: 25%;
}

.category-name {
  font-family: sans-serif;
  font-weight: bold;
  padding: .5em 0;
  font-size: 1em;
  background-color: #f5f5f5;
  color: blue;
}

.subcategory {
  font-size: .85em;
  font-family: sans-serif;
  line-height: 2em;
  color: blue;
}

.are-you-in-crisis {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0 0 0;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 20px;
}

.if-crisis {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85em;
  color: gray;
  line-height: 2;
  margin: .5em 0;
}

.a-z-list {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1em;
  color: gray;
  line-height: 1.5em;
  margin: 1.25em 0;
}

.community-sponsors {
  text-transform: uppercase;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
}

.footer {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85rem;
  color: gray;
  margin: 3rem 0 4rem 0;
}

.footer-item {
  padding: 0 1rem;
}

.footer-url {
  color: blue;
}
/* End of Desktop styles */

/* DOCUMENTATION: For long-term maintenance of the site, the columns will flow and social service providers can add new categories and sub-categories. The heights currently are fixed pixel dimensions to create the column wrap, and those height numbers on the table-of-contents and grid-container would have to be bumped up when a significant number of new category and subcategory items have been added to the homepage. */

/* NOTE: For the column wrap, how text at the bottom of a column flows to the top of the next, currently the code uses fixed heights in pixels. I wonder if it's possible to set a viewport height or vh for the columns and when a column reaches the bottom of the screen/browser-window the text will flow from the viewport bottommost point and begin again at the top of the next column? */

/* Responsive: if browser window is less than or equal to 1230px, then apply this style. */
@media screen and (max-width: 1230px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 46px 52px 880px 100px;
  }

  .table-of-contents {
    height: 830px;
    display: flex;
    flex-flow: column wrap;
  }

}

/* Tablet view at 1195px */
@media screen and (max-width: 1056px) {
  .grid-container {
    display: grid;
    grid-template-columns: 6em 1fr 1fr 1fr 6em;
    grid-template-rows: 70px 20px 40px 50px 30px 550px 30px;
  }

  .search {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .are-you-in-crisis {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .emergency-container {
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: left;
  }

  .clinic-name {
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: left;
  }

  .little-help-book-title {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .about {
    display: none;
  }

  .lane-county {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 2.5rem 0 0 6rem;
    margin: -.6rem 0;
    font-size: 1.25rem;
  }

  .find-my-city {
    grid-row: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    color: blue;
  }

  .subcategory {
    display: none;
  }

  .table-of-contents {
    display: grid;
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .table-of-contents {
    height: 70vh;
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 6rem 0 6rem;
  }

  .category {
    min-width: 200px;

  }
  .category-name {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  .community-sponsors {
    display: none;
  }

  .footer {
    grid-row: 7;
  }

}
/* NOTE: The following style is an attempt at a smoother transition for the browser window between Tablet size and Mobile. But it's just the idea stage and not totally necessary. */
/* @media screen and (max-width: 684px) {
  .grid-container {
    display: grid;
    grid-template-columns: 6em 1fr 1fr 1fr 6em;
    grid-template-rows: 70px 20px 40px 50px 30px 550px 30px;
  }
  .table-of-contents {
    height: 12vh;
    display: flex;
    flex-flow: column wrap;
    padding: 3.5rem 6rem 0 6rem;
  } */

/* This is iPad size syling for the touchscreen category buttons. */

@media screen and (max-width: 770px) {
  .category {
    min-width: 300px;
  }
}

/* Mobile: if device width is less than or equal to 640px, then apply this style. */
@media screen and (max-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 30px 65px 30px 550px 30px;
  }

  .search {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .are-you-in-crisis {
    /* display: grid; */
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .emergency-container {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .clinic-name {
    display: none;
  }

  .little-help-book-title {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 3.5rem 0 0 6rem;
    text-transform: uppercase;
  }

  .about {
    display: none;
  }

  .lane-county {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1rem;
  }

  .find-my-city {
    grid-row: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2.3rem 0 0 .9rem;
  }

  .table-of-contents {
    grid-row: 6;
    /* grid-column-start: 2;
    grid-column-end: 3; */
    height: 400vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.7rem 6rem 0 6rem;
  }

  .category {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 0;
    width: 60vw;
  }

  .category-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }

  .community-sponsors {
    display: none;
  }

  .footer {
    display: none;
  }
}
