a {
  text-decoration: none;
  color: black;
}

.breadcrumb {
  width: 16.8rem;
}

option {
  background-color: white;
  color: black;
  font-size: 1rem;
}

.provider-page {
  padding: 0 3.5rem;
  margin-top: 2.25rem;
}

.provider-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 0 .6rem;
  background-color: rgb(226, 226, 226);
  width: 48.5%;
  padding-left: .2rem;
  margin-left: -.2rem;
}

.provider-address {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.provider-phone {
  font-size: 1.15rem;
  padding: .2rem 0;
}

.provider-website {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.provider-website>a:hover {
  transition: 0.3s color ease-in-out;
  color: #086CDD;
}

.provider-description {
  line-height: 1.5rem;
  padding-bottom: .6rem;
}

.provider-info {
  font-size: 1rem;
  line-height: 2rem;
  margin: .5rem 0;
}

.map {
  display: flex;
  float: right;
  padding-left: .75rem;
  padding-bottom: .85rem;
  width: 50%
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button-style {
  background-color: white;
  font-size: 1rem;
  border-radius: 8px;
  border-style: solid;
  margin: 0.3rem 0 0 0;
}

.right-button {

}

.print-page {

}

.update-button, .print-page {
  padding: 0.5rem;
}

.last-update {
  font-size: 1rem;
}

.mapid {
  z-index: 1;
}

#mapid {
  height: 50vh;
  width: 100%;
  min-width: 440px;
}

/* end desktop styles, begin responsive transition to tablet */

@media screen and (max-width: 1640px) {
  .spanish, .about {
    display: none;
  }
}  

@media screen and (max-width: 1240px) {
  .breadcrumb-box {
    display: none;
  }

  .spanish, .about {
    display: inline;
  }
}

@media screen and (max-width: 1056px) {

  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .provider-page {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
  }

  .provider-name {
    width: 100%;
  }

  .map {
    padding-bottom: 1.25rem;
    padding-left: 0;
    width: 100%;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

  #mapid {
    min-width: 0;
  }
}
  
/* begin mobile styles */
  
@media screen and (max-width: 640px) {

  .provider-page {
    padding: 0 2rem;
  }

  .provider-name {
    width: 100%;
  }

  .update-button {
    width: 84%;
  }

  .print-page {
    height: 57.6px;
  }
}