*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.h123-reset {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    display: flex;
    flex-direction: column;
}

img {
    display: inline;
    margin: .5rem 0 0 0;
}

.navigation-menus {
  display: flex;
  align-items: center;
  position: relative;
  left: -4.5rem;
}

.breadcrumb {
  background: #ccc7c7;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
  margin: 0 0 0 1.1rem;
}

option {
  background-color: #ccc7c7;
}
  
.search {
    margin-left: -4.5rem;
    margin-top: .7rem;
}

  .search input[type=text] {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #e2e2e2;
    padding: 0 0 0 1rem;

  }
  
  .input[name="size"] {
    width: 100%;
  }

  .provider-page {
    padding: 0 6rem 0 6rem;
    margin-top: 1.3rem;
  }

  .provider-name {
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1.3rem;
    transition: 0.3s color ease-in-out;
  }
  
  .website>a:hover {
    color: #bf3fbf;
  }

  .provider-info {
    font-size: .95rem;
    line-height: 1.5rem;
    margin: .5rem 0;
  }

  .map {
    display: flex;
    float: right;
    padding-left: .75rem;
    padding-bottom: .85rem;
    width: 50%
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .button-style {
    background-color: white;
    height: 2rem;
    border-radius: 8px;
    border-style: solid;
    margin: 0.3rem 0 0 0;
  }

  .print-page {
    padding: 0 .5rem;
    margin: .3rem 0 0 5.9rem;
  }

  .update-button {

  }

  .last-update {
    font-size: .8rem;
  }
  
  #mapid {
    height: 200px;
    width: 300px;
  }