.h123-reset {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  padding: 1em 0;
  color: #bf3fbf;
}
/* Arthur here, I tried to make the gray background on the category name go transparent when a cursor hovers over, and haven't yet figured this out. Please advise. Begin hover experiment styles: */
.category-name a:hover{
  background-color: transparent;
}
a.category:hover{
  background-color: transparent;
/* End hover experiment styles. */
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 1.5em 0 2.5em 0;
}

.little-help-book-title {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1em;
  text-align: center;
  padding: 0 0 .3em 0;
}
.clinic-name {
  font-family: Concert One, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}
.lane-county {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  padding: 0 0 .65em 0;
}
.about {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}
.find-my-city {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: .25em;
}
.location-container {
  padding: .5em 6em 0 0;
}
.about-container {
  padding: .2em 0 0 6em;
}
.emergency-container {
  display: flex;
  justify-content: center;
  margin-top: -4.75em;
  margin-bottom: 1.5em;
  margin-left: -2.25em;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-size: .75em;
  padding: .5em 0 .5em 0;
}
.emergency-button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em 1em;
  border-radius: 22px;
  border: none;
  order: 2;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 .5em 0;
}
.table-of-contents {
  height: 700px;
  display: flex;
  flex-flow: column wrap;
  padding: 1em 6em 0 6em;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0;
  width: 25%;
}
.category-name {
  font-family: sans-serif;
  font-weight: bold;
  padding: .5em 0;
  font-size: 1em;
  background-color: #f5f5f5;
  color: blue;
}
.subcategory {
  font-size: .85em;
  font-family: sans-serif;
  line-height: 2em;
  color: blue;
}
.are-you-in-crisis{
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}
.if-crisis{
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85em;
  color: gray;
  line-height: 2;
  margin: .5em 0;
}
.a-z-list {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1em;
  color: gray;
  line-height: 1.5em;
  margin: 1.25em 0;
}
.community-sponsors {
  text-transform: uppercase;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
}
.footer {
  display: flex;
  justify-content: center;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85em;
  color: gray;
  margin: 2.5em 0 4em 0;
}
.footer-item {
  padding: 0 1em;
}
.footer-url {
  color: blue;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

/* tablet */
@media only screen and (max-width: 1195px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .search {
    order: 1;
  }

  .title-container {
    order: 2;
  }

  .emergency-container {
    order: 3;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .search {
    /* Probably needs size in <input> taken out to be changed dynamically across different screen widths */
  }

  body {
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-areas:
    "header"
    "contents"
    "footer"
    ;
  }

  .header {
    grid-area: header;
    display: grid;
    padding: 0;
    justify-content: center;
  }

  .table-of-contents {
    grid-area: contents;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .footer {
    grid-area: footer;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .title-container div {
    padding: 0;
    text-align: center;
  }

  .clinic-name {
    order: -1;
  }

  .category {
    flex-grow: 1;
    width: 50%;
  }

  .category-name {
    font-size: 1.7em;
  }

  li {
    font-size: 1.5em;
    display: none;
    /* Need to add JavaScript event handling to unhide when parent category is clicked on */
  }
}
