*,
*:before,
*:after {
  box-sizing: border-box;
}

header, main {
  font-family: sans-serif;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4A9AF8;
}

/* begin new header */

.desktop-header {
  display: flex;
  justify-content: space-around;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  height: 6.6rem;
  overflow-x: hidden; 
  margin: 0 -0.5rem;
  overflow-y: hidden;
  margin-top: -1rem;
  margin-bottom: 2.25rem;
}

.desktop-logo {
  position: absolute;
  left: .5rem;
  width: 66px;
  height: 66px;
  margin: 1.6rem 0 .4rem 1.25rem;
}

.little-help-book {
  position: absolute;
  left: 1.7rem;
  font-size: 2.2rem;
  white-space: nowrap;
  margin: 2.4rem 0 0 5.8rem;
}

.menu-button {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  color: rgb(226, 226, 226);
  background-color: black;
  border-radius: 8px;
  border-style: solid;
  border: none;
  white-space: nowrap;
  transition: 0.3s color ease-in-out;
  margin: 2.6rem .5rem 1.5rem 0;
}

.lane-county {
  color: rgb(226, 226, 226);
  margin: 3rem .5rem 0 30rem;
  white-space: nowrap;
}

.find-my-city:hover {
  color: white;
}

.dropdown-button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: .25rem;
  padding: 1.5rem 0;
}

.list-of-cities {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 top: 6.1rem;
 left: 50rem;
}

/* Links inside the dropdown */
.list-of-cities a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.list-of-cities a:hover {
  background-color: #ddd;
  color: #0077ff;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* end dropdown styles */
  
.spanish:hover {
  color: white;
}

.about:hover {
  color: white;
}

.search {
  width: 3%;
  margin: 2.3rem 0 0;
  padding-right: 4.5rem;
}

header .search input {
  width: 100%;
  height: 2.4rem;
}

.search-input {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding-left: 40px;
  border: none;
}

body {
  background-color: #f5f5f5;
}

main {
  columns: 4;
}
  
.table-of-contents {
  padding: 0 3.5rem 0 3.5rem;
}

.category-name>a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: rgb(226, 226, 226);
  /* background-color: #f5f5f5; This style is for category name without a background shape. */
  font-weight: bold;
  padding: .5rem 0 .7rem;
  font-size: 1.5rem;
  transition: 0.3s color ease-in-out;
  margin-right: 1rem;
}

.category-name>a:hover {
  color: #4A9AF8;
}

.category-name {
  padding: 0 0 .75rem 0;
}

.subcategory {
  font-size: 1rem;
  line-height: 2em;
  color: rgb(88, 88, 88);
  margin: -0.5rem 0 1.1rem 0;
}

.subcategory li:hover {
  color: #0077ff;
  background-color: rgb(226, 226, 226);
}

.are-you-in-crisis {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.blue-text {
  color: #4A9AF8;
  font-weight: bold;
  transition: 0.3s color ease-in-out; 
}

.blue-text:hover {
  color: #0077ff;
}

/* popup container */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* the actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 25rem;
  background-color: white;
  color: black;
  text-transform: none;
  padding: .85rem .85rem 1rem 1.15rem;
  position: absolute;
  z-index: 1;
  bottom: 158%;
  right: -142%;
  margin-left: -80px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
}

/* toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

.emergency-button {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  padding: .5rem;
  color: black;
  border: none;
  background-color: rgb(226, 226, 226);
  /* background-color: rgb(207, 207, 207); */
  padding: .7rem .7rem .9rem 0;
  line-height: 2.25rem;
  margin: 1.2rem 0 .2rem 0;
}

.a-z-list {
  font-style: normal;
  font-weight: light;
  font-size: 1em;
  color: gray;
  line-height: 1.5em;
  margin: 1.95em 0 2.25rem 0;
}

.community-sponsors {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  margin: 0.8rem 0;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1rem;
  color: gray;
  margin: 3rem 0 1rem;
  padding: 1rem;
}

.footer-item {
  padding: 0 1rem;
}

.footer-url {
  color: #4A9AF8;
  font-weight: bold;
}


/* replace menu items with icon */

@media screen and (max-width: 1175px) {

  .search {
    display: flex;
    position: absolute;
    right: 2.5rem;
  }

  .menu-icon {
    display: none;
  }

  .menu-lines {
    margin-left: -2rem;
    margin-right: 1rem;
  }

.hamburger {
    width: 35px;
    height: 6px;
    background-color: rgb(126, 126, 126);
    border-radius: 2.5px;
    margin: 5.5px 0 0 10.5px;
  }

}

/* end desktop styles */

.mobile-container {
  display: none;
}

/* responsive transition to tablet */

@media screen and (max-width: 1056px) {

  .mobile-container {
      display: inline;
  }

  .container {
      display: none;
  }

  .content-container {
      display: flex;
      flex-direction: column;
  }

  header {
    padding-top: 0;
  }

  header .logo-title {
    display: flex;
  }

  header {
      background-color: black;
      height: 6.6rem;
      overflow-x: hidden; 
      margin: 0 -0.5rem;
      overflow-y: hidden;
      margin-top: -1rem;
  }

  img {
      position: absolute;
      width: 66px;
      height: 66px;
      margin: 1.6rem 0 .4rem 1.75rem;
  }

  .little-help-book {
      position: absolute;
      color: white;
      font-size: 2.2rem;
      font-weight: bold;
      font-family: sans-serif;
      margin: 2.4rem 0 0 5.8rem;
  }

  .people-care {
      font-size: 5.2rem;
      font-weight: bold;
      margin: 5.5rem 0 0 3.5rem;
  }

  .find-help-in-lane {
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 3.3rem;
      margin: 1.5rem 5rem 0 3.5rem;
  }

  .buttons {
      display: flex;
      flex-direction: column;
      margin: 8.8rem 0 2rem 3.5rem;
  }

  .help-button, .spanish-button {
      background-color: black;
      color: white;
      border: none;
      border-radius: 10px;
      width: 13rem;
      height: 7rem;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 2.5rem;
  }

  .help-button:hover {
    background-color: #4A9AF8;
    box-shadow: .5rem .5rem .75rem #8888;
  }

  .spanish-button:hover {
    background-color: #4A9AF8;
    box-shadow: .5rem .5rem .75rem #8888;
  }

  .spanish-button {
    margin-top: 3rem;
}

  footer {
      font-family: sans-serif;
      font-size: 1.45rem;
      font-weight: lighter;
      line-height: 1.7rem;
      margin: 3rem 0 2rem 3.5rem;
      padding-bottom: 2rem;
  }

  footer .bold-inline {
      display: inline;
      font-size: 1.45rem;
      font-weight: bold;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

.mobile-container {
    display: inline;
}

.container {
    display: none;
}

header {
    padding-top: 0;
}

header .logo-title {
    display: flex;
}

}

/* begin mobile styles */

@media screen and (max-width: 640px) {

  header {
      height: 5rem;
  }

  img {
      width: 42px;
      height: 42px;
      margin: 1.49rem 0 .4rem 1.35rem;
  }

  .little-help-book {
      font-size: 1.2rem;
      margin: 2.1rem 0 0 3.7rem;
  }

  .people-care {
      font-size: 2.4rem;
      margin: 3.5rem 0 0 2rem;
  }

  .find-help-in-lane {
      font-size: 1.125rem;
      line-height: 1.7rem;
      margin: 1rem 0.5rem 0 2rem;
  }

  .buttons {
      position: absolute;
      bottom: 18.6%;
      margin: 7.2rem 0 0 2rem;
  }

  .help-button, .spanish-button {
      width: 10rem;
      height: 5rem;
      font-size: 1.5rem;
  }

  .spanish-button {
      margin-top: 1.8rem;
  }

  footer {
      position: absolute;
      bottom: 1%;
      font-size: 1.2rem;
      width: 20rem;
      margin: 3rem 0 0 2rem;
  }

  footer .bold-inline {
      font-size: 1.2rem;
  }

}

/* begin tablet styles for the mobile-intro screen that appears after pressing Find Help */

@media screen and (max-width: 1056px) {

  .logo-title {
    display: flex;
  }

  .back-arrow {
    color: white;
    display: flex;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.9rem;
    margin-right: 3.5rem;
  }

  .mobile-are-you-in-crisis {
    font-style: normal;
    font-family: sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    margin: 6.2rem 0 0 3.5rem;
  } 

  .blue-text {
    color: #4A9AF8;
  }
  
  /* pop-up container */
  .mobile-popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* the actual pop-up */
  .mobile-popup .mobile-popuptext {
    visibility: hidden;
    width: 280%;
    background-color: #f5f5f5;
    color: #6a6a6a;
    border-radius: 6px;
    padding: 1rem 1.25rem 9.3rem 0.1rem;
    position: absolute;
    z-index: 1;
    bottom: -845%;
    right: -19%;
    margin-left: -80px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  
  /* toggle this class - hide and show the pop-up */
  .mobile-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* add animation (fade in the pop-up) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* end pop-up styles */
  .outline-buttons {
    display: flex;
    flex-direction: column;
    margin: 19% 3.5rem 4rem;
  }

  .emergency-lines-button, .find-my-city-button, .find-a-service-button {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    border-style: solid;
    border-radius: 10px;
    height: 9rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-left: 2rem;
    max-width: 36rem;
  }

} /* end tablet styles for screen that appears after pressing Find Help */

/* begin styles for the Find Help mobile screen */

@media screen and (max-width: 640px) {

  .back-arrow {
    font-size: 2.5rem;
    margin-top: 1.3rem;
    margin-right: 2.2rem;
  }

  .mobile-are-you-in-crisis {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 3.5rem 0 0 2rem;
  }

  /* pop-up container */
  .mobile-popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* crisis pop-up */
  .mobile-popup .mobile-popuptext {
    visibility: hidden;
    background-color: #f5f5f5;
    color: #6a6a6a;
    width: 20.3rem;
    padding: 0 0.85rem 0.5rem 0.6rem;
    bottom: -31rem;
    right: -17.3%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.1rem;
  }
  
  /* toggle this class - hide and show the pop-up */
  .mobile-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* add animation (fade in the pop-up) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 
  /* end popup styles */

  .outline-buttons {
    margin: 25% 1.5rem 0;
  }

  .emergency-lines-button, .find-my-city-button, .find-a-service-button {
    height: 6.8rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    padding-left: 5.8%; 
    max-width: 20.2rem;
  }

}

/* begin tablet styles for the screen that appears when someone clicks the "Find a Service" button */

@media screen and (max-width: 1056px) {
  .mobile-category-buttons {
    padding: 1.5rem 0.5rem 0 1rem;
  }

  .mobile-category-name {
    padding: 1rem;
  }

  .bottom-line {
    display: flex;
    justify-content: space-between;
  }

  .more-button {
    color: gray;
  }

  .more-arrow {
    font-size: 1.8rem;
    margin-left: .3rem;
  }
}

/* begin mobile styles for most-sought category intro screen, this appears after pressing the "Find a Service" button */

@media screen and (max-width: 640px) {

  .mobile-category-buttons {
    padding: 1.5rem 0.5rem 0 1rem;
  }

  .mobile-category-name {
    padding: 1rem;
  }

  .bottom-line {
    display: flex;
    justify-content: space-between;
  }

  .more-button {
    color: gray;
  }

  .more-arrow {
    font-size: 1.8rem;
    margin-left: .3rem;
  }

} /* end mobile styles for Find a Service intro screen */


/* begin mobile and tablet styles for the Emergency Crisis Lines */

.how-to-call {
  margin: 1.5rem 0 0 1.5rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: gray;
}

.emergency-container {
  padding: 1.5rem 1rem 0 1rem;
}

.emergency-line {
  padding: 0.5rem 0 0.5rem 0;
  background-color: white;
  margin-bottom: 1.8rem;
}

.emergency-number {
  padding: .5rem;
  padding-left: 0.8rem;
}

.emergency-description {
  padding: 0 0.5rem 0 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

.divider-line {
  background-color: #f5f5f5;
  height: 0.5rem;
  margin: 0.25rem 0;
}
/* end mobile styles for the page of Emergency Crisis Lines */