*,
*:before,
*:after {
  box-sizing: border-box;
}

header, main, body {
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #086CDD;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 1.75rem;
  padding: 0.45rem 1.5rem;
}

.desktop-logo {
  height: 3.25rem;
  width: 3.25rem;
  margin-right: 1em;
  margin-top: .5rem;
  margin-bottom: .3rem;
}

.little-help-book {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  margin-top: .1rem;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

.homepage-link {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.homepage-link:hover {
  cursor: pointer;
}

.homepage-link .little-help-book {
  color: white;
}

.find-help {
  color: rgb(226, 226, 226);
  white-space: nowrap;
  font-size: 1rem;
  margin-top: .1rem;
}

.find-my-city:hover {
  color: white;
}

.breadcrumb {
  background: black;
  border-bottom-width: 0.1rem;
  border-color: rgb(126, 126, 126);
  color: rgb(226, 226, 226);
  font-family: sans-serif;
  font-size: 1rem;
  font-style: none;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.breadcrumb-box {
  align-items: center;
  display: flex;
}

.breadcrumb:after {
  position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 100%;
	line-height: 38px;
	content: '\2228';
	text-align: center;
	color: white;
	font-size: 1rem;
	border-left: 1px solid #3C1C78;
  z-index: -1;
}

.breadcrumb-box select {
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

  /* description is a class to style the text "Human Services Resource Directory"  */
.description {
  white-space: nowrap;
  margin-top: .1rem;
}

@media screen and (max-width: 1340px) {

  .description {
    display: none;
  }
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: .1rem;
}

.header-nav-item {
  display: flex;
  margin-left: 1rem;
}

.menu-button {
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  color: rgb(226, 226, 226);
  background-color: black;
  border-radius: 8px;
  border-style: solid;
  border: none;
  white-space: nowrap;
  transition: 0.3s color ease-in-out;
  cursor: pointer;
}

header .search input {
  height: 1.3rem;
  padding: 0.22rem;
}

.search-toggle {
  background-color: #e2e2e2;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

.spanish {
  width: 4.9rem;
}

.spanish:hover {
  color: white;
}

select:hover {
  color: white;
  transition: 0.3s color ease-in-out;
}

.about {
  color: rgb(226, 226, 226);
}

.about:hover {
  color: white;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

main {
  columns: 4;
}

.table-of-contents {
  padding: 0 3.5rem 0 3.5rem;
  flex-grow: 1;
}

.category-name {
  padding: 0 0 .75rem 0;
  display: inline-block;
  width: 100%;
}

.category-name>a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: rgb(226, 226, 226);
  font-weight: bold;
  padding: .5rem 0;
  font-size: 1.4rem;
  transition: 0.3s color ease-in-out;
  margin-right: 1rem;
  padding-left: .2rem;
  margin-left: -.2rem;
}

.category-name>a:hover {
  color: #308DF8;
}

.subcategory {
  font-size: 1rem;
  line-height: 2em;
  color: rgb(88, 88, 88);
  margin: -0.5rem 0 1.1rem 0;
}

.subcategory li:hover {
  color: #086CDD;
  background-color: rgb(226, 226, 226);
}

.subcategory a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  display: block;
  line-height: 1.4;
  padding: 0.2rem 0 0.4rem;
}

.subcategory a:hover {
  color: #086CDD;
}

.are-you-in-crisis {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 1em 0 0 0;
}

.blue-text {
  color: #086CDD;
  font-weight: bold;
  transition: 0.3s color ease-in-out;
}

.blue-text:hover {
  color: #308DF8;
}

/* popup container */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* the actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 25rem;
  background-color: white;
  color: black;
  text-transform: none;
  padding: .85rem .85rem 1rem 1.15rem;
  position: absolute;
  z-index: 1;
  bottom: -606%;
  right: 277%;
  margin-left: -80px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
}

/* toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

.emergency-button {
  margin: 1.2rem 0 0 0;
}

.emergency-button>a {
  padding: 1rem 0 1.2rem 0;
  padding-left: .2rem;
  margin-left: -.2rem;
}

.a-z-list {
  font-style: normal;
  font-weight: light;
  font-size: 1em;
  color: #716F6F;
  line-height: 1.5em;
  margin: 1.25em 0 2.25rem 0;
}

.alert-container {
  display: flex;
  flex-direction: column;
  background-color: #E5F3FF;
  padding: .5rem .5rem .75rem .5rem;
}

.alert-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
}

.alert-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.alert-date {
  color: #716F6F;
  font-size: .9rem;
}

.alert-statement {
  line-height: 1.5rem;
  font-size: .9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1rem;
  color: #716F6F;
  margin: 3rem 0 1rem;
  padding: 1rem;
}

.footer-item {
  padding: 0 1rem;
}

.footer-url {
  color: #086CDD;
  font-weight: bold;
}

.terms-of-use {
  color: #716F6F;
}

.terms-of-use:hover {
  color: #086CDD;
}

.mobile-footer {
  display: none;
}

.nav-container {
  display: none;
}

.mobile-emergency-container {
  display: none;
}

/* end desktop styles, begin responsive transition to tablet */
@media screen and (max-width: 1056px) {

  .breadcrumb-box {
    display: none;
  } /* city-selector on desktop */

  .search {
    display: none;
  } /* search on homepage desktop navigation bar*/

  .a-z-list {
    display: none;
  } /* sentence about the A-Z list on desktop */

  header {
    margin: 0 0 0.95rem;
  }

  .header-nav {
    margin-right: 2rem;
  }

  .spanish {
    width: 100%;
  }

  main {
    columns: auto;
  }

  .category-name > a {
    margin-right: .5rem;
  }

  .subcategory a {
    color: black;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 3.5rem;
    margin-bottom: 0.2rem;
  }

  .find-help {
    color: black;
  }

  .mobile-breadcrumb-box {
    align-items: center;
    display: flex;
  }

  .mobile-breadcrumb {
    background: #f5f5f5;
    border-bottom-width: 0.1rem;
    border-color: #e9e9e9;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    font-style: none;
    font-weight: bold;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  .mobile-breadcrumb-box select {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: .5rem;
    margin-left: 1rem;
  }

  .menu-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 0.45rem;
  }

  .mobile-header-nav-item {
    display: flex;
    margin-left: 0;
  }

  .menu-item {
    margin-top: .25rem;
  }

  .menu-item a {
    color: #716F6F;
  }

  .search-toggle {
    background-color: #f5f5f5;
  }

  hr {
    width: 100%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9e9e9;
    border: 0 none;
  }

  .alert-container {
    margin-top: 1rem;
  }

  .popup .popuptext {
    bottom: 177%;
    right: -200%;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

  .category-name a {
    margin-right: .5rem;
  }
}

/* begin mobile styles */

@media screen and (max-width: 640px) {

  .desktop-logo {
    height: 42px;
    width: 42px;
    margin: 0.55rem 0 .4rem 0.35rem;
  }

  header {
    height: 3rem;
    padding: 2rem 0.6rem;
  }

  .little-help-book {
    font-size: 1.2rem;
    margin: 0.35rem 0 0 0.7rem;
  }

  .header-nav, .header-nav-item {
    padding: 0 0rem 0.1rem 0.8rem;
  }

  .header-nav {
    margin-right: 0;
  }

  .menu-button {
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 2.375rem .5rem 1.5rem -0.5rem;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
  }

  .menu-container {
    margin-left: 0;
    margin-top: .5rem;
  }

  .table-of-contents {
    padding: 0 2rem 0 2rem;
  }

  .category-name > a {
    margin-right: 0;
  }

  .emergency-button, .are-you-in-crisis {
    display: none;
  }

  .mobile-emergency-container {
    display: flex;
    background-color: black;
    border-radius: .5rem;
    justify-content: space-between;
    height: 3.8rem;
  }

  .mobile-crisis-question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
  }

  .mobile-emergency-lines {
    font-size: .8rem;
    color: white;
  }

  .mobile-crisis-question {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin: .25rem 0;
  }

  .mobile-call-now {
    background-color: #4A9AF8;
    border-radius: .5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 .5rem;
  }

  .footer {
    display: none;
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    font-size: .95rem;
    margin: 4rem 0 1.5rem 0;
  }

  .terms-of-use {
    color: #086CDD;
  }
}

/* end mobile styles, begin search styles */

.search-flexbox {
  display: flex;
  flex-direction: column-reverse;
}

.search-text-and-button-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2.5rem 0;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.35rem;
  max-width: 100%;
  padding: 0 3.5rem 1rem 3.5rem;
  text-align: left;
}

.search-wrapper {
  background-color: #f5f5f5;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
  top: 5.25rem;
}

.search-wrapper:active {
  display: block;
}

.search-button {
  background: #4A9AF8;
  color: #fff;
  border: 0;
  appearance: none;
  cursor: pointer;;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 0.65rem;
  margin-top: 0.1rem;
}

.search-label {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #716F6F;
}

.search-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: white;
  -webkit-appearance: none;
  padding: 1rem 0.5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

[aria-hidden="true"],
.hidden {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

[aria-invalid] {
  border: 2px solid #cc3535;
  outline: 0;
}

.search-toggle {
  height: 30px !important;
  width: 30px !important;
  font-size: 30px !important;
}

.no-match-response {
  line-height: 1.5;
  padding-right: 3rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 1056px) {

  .search-wrapper {
    top: 8.5rem;
  }

  .search-form {
    margin-top: 0.5rem;
  }

  .search-toggle {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px !important;
  }
}

@media screen and (max-width: 770px) {

  .search-text-and-button-container {
    margin: 0;
  }

  .search-label {
    font-size: 1rem;
  }

  .search-button {
    font-size: 1rem;
    padding: .6rem;
    font-weight: normal;
  }
}

@media screen and (max-width: 640px) {

  .search-wrapper {
    top: 9.9rem;
  }

  .search-form {
    padding: 0 1.9rem 1rem 1.9rem;
  }

  .no-match-response {
    font-size: 1rem;
  }
}

/* end search box styles */
