*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.h123-reset {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.2rem;
    margin-bottom: 4rem;
}

.top-of-menu {
    display: flex;
    align-items: center;
    position: relative;
    left: -4.5rem;
}

img {
    display: inline;
    margin: .5rem 0 0 0;
}

.navigation-menus {
  display: flex;
  flex-direction: column;

}

.breadcrumb {
  background: #ccc7c7;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
  margin: 0 0 0 1.1rem;
}

option {
  background-color: #ccc7c7;
}

.bottom-of-menu {
  display: flex;
  align-items: baseline;
  margin-left: -4.2rem;
  margin-top: .3rem;
}

.category-page-name {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.search {
  display: flex;
}

.search input[type=text] {
  width: 32.4rem;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: #e2e2e2;
  padding: 0 0 0 1rem;
}

.input[name="size"] {
  width: 100%;
}

.nav-buttons {
  display: flex;
  margin: .7rem .7rem .7rem 0;
}

.button-style {
  background-color: white;
  height: 2rem;
  width: 4rem;
  border-radius: 8px;
  border-style: solid;
  margin: 0.3rem 0 0 0;
  padding: .1rem 0 .15rem 0;
}

.list-map-toggle  {
  margin: .3rem .3rem 0 0;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.print {
  margin: .3rem 0 0 .3rem;
}

.providers {
  display: flex;
  flex-wrap: wrap;
  width: 75.5rem;
  margin-top: 1.5rem;
  margin-left: 3.8rem;
}

.tile {
  width: 30%;
  margin: 0 1.5rem 1rem 0;
}

.provider-name {
  font-weight: bold;
  padding-bottom: .5rem;
}

.provider-address {
  padding-bottom: .5rem;
}

.provider-phone {
  padding-bottom: .5rem;
}

.provider-website {
  padding-bottom: 1rem;
}

.provider-description {
  padding-bottom: .5rem;
}

.last-line {
  display: flex;
  justify-content: space-between;
}

#map {
  display: flex;
  width: 85%;
  height: 100%;
}

#main > section:not(:first-child) {
  display: none;
}

#mapid {
  height: 90vh;
  width: 100%;
  min-width: 90vh;
}