a {
  text-decoration: none;
  color: black;
}

main {
  columns: auto;
}

.desktop-header {
  margin-bottom: 0;
}

.breadcrumb {
  width: 16.8rem;
}

option {
  background-color: white;
  color: black;
  font-size: 1rem;
}

.bottom-of-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 3.5rem;
}

.category-page-name {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
  margin-top: 1.1rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin: .7rem 5% .7rem 0;
}

.button-style {
  background-color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: 4rem;
  border-radius: 8px;
  border-style: solid;
  margin: 0.3rem 0 0 0;
}

.list-map-toggle  {
  margin: .3rem .3rem 0 0;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.print {
  margin: .3rem 0 0 .3rem;
}

.providers {
  display: flex;
  flex-wrap: wrap;
  margin-top: .6rem;
  margin-left: 3.5rem;
}

.tile {
  width: 30%;
  margin: 0 2rem 3rem 0;
}

.provider-name>a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 0 .7rem;
  background-color: rgb(226, 226, 226);
}

.provider-name>a:hover {
  transition: 0.3s color ease-in-out;
  color: #308DF8;
}

.provider-address {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.provider-phone {
  font-size: 1.15rem;
  padding: .2rem 0;
}

.provider-website {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.provider-website>a:hover {
  transition: 0.3s color ease-in-out;
  color: #086CDD;
}

.provider-description {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.read-more {
  color: #086CDD;
  font-weight: bold;
}

.last-line {
  display: flex;
  justify-content: space-between;
}

#map {
  margin-left: 3.5rem;
  width: 100%;
  display: none;
}

#mapid {
  height: 90vh;
  width: 100%;
  min-width: 90vh;
  z-index: 1;
}

/* end desktop styles, begin responsive transition to tablet */

@media screen and (min-width: 1175px) {

}

@media screen and (max-width: 1056px) {

  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .bottom-of-menu {
    margin-right: 4.5rem;
  }

  .nav-buttons {
    margin: .7rem 0;
  }

  .providers {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2.5rem;
  }

  .tile {
    width: 43%;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

  .tile {
    width: 100%;
  }
}
  
/* begin mobile styles */
  
@media screen and (max-width: 640px) {

  .bottom-of-menu {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .print {
    display: none;
  }

  .providers {
    margin-top: 0.4rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    position: static;
    width: auto;
  }
}