*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.h123-reset {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.desktop-header {
  display: flex;
  justify-content: space-around;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  height: 6.6rem;
  overflow-x: hidden; 
  margin: 0 -0.5rem;
  overflow-y: hidden;
  margin-top: -1rem;
}

.desktop-logo {
  position: absolute;
  left: .5rem;
  width: 66px;
  height: 66px;
  margin: 1.6rem 0 .4rem 1.25rem;
}

.little-help-book {
  position: absolute;
  left: 1.7rem;
  font-size: 2.2rem;
  color: white;
  white-space: nowrap;
  margin: 2.4rem 0 0 5.8rem;
}

.breadcrumb-box {
  margin-left: 20rem;
}

.breadcrumb-box select {
  /* hide default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.breadcrumb {
  background: black;
  border-color: rgb(126, 126, 126);
  color: rgb(226, 226, 226);
  font-family: sans-serif;
  font-size: 1.45rem;
  font-style: none;
  font-weight: bold;
  height: 2.7rem;
  width: 16.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-width: 0.1rem;
  border-bottom-color: rgb(126, 126, 126);
  margin: 2.6rem 0 0 -0.5rem;
}

select:hover {
  color: white;
  transition: 0.3s color ease-in-out;
}

option {
  background-color: white;
  color: black;
  font-size: 1.4rem;
}

/* I haven't figured out how to get this option :hover style to work. */
option :hover {
  color: #0077ff;
  background-color: rgb(226, 226, 226);
}

.city:hover::after { 
  color: #F39C12; 
} 
/* Neither of those attempts affects the default dropdown style. */

.city {
  margin-left: 8rem;
}

.search {
  display: flex;
  width: 3%;
  margin: 2.3rem 0 0;
  padding-right: 4.5rem;
}

header .search input {
  width: 100%;
  height: 2.4rem;
}

.search-input {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding-left: 40px;
  border: none;
}

.menu-lines {
  margin-left: -2rem;
  margin-right: 1rem;
}

.hamburger {
  width: 35px;
  height: 6px;
  background-color: rgb(126, 126, 126);
  border-radius: 2.5px;
  margin: 5.5px 0 0 10.5px;
}

.bottom-of-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 3.5rem;
}

.category-page-name {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin: .7rem .7rem .7rem 0;
}

.button-style {
  background-color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: 4rem;
  border-radius: 8px;
  border-style: solid;
  margin: 0.3rem 0 0 0;
}

.list-map-toggle  {
  margin: .3rem .3rem 0 0;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.print {
  margin: .3rem 0 0 .3rem;
}

.providers {
  display: flex;
  flex-wrap: wrap;
  margin-top: .6rem;
  margin-left: 3.5rem;
}

.tile {
  width: 30%;
  margin: 0 2rem 3rem 0;
}

.provider-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 0 .7rem;
  background-color: rgb(226, 226, 226);
}

.provider-name>a:hover {
  transition: 0.3s color ease-in-out;
  color: #4A9AF8;
}

.provider-address {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.provider-phone {
  font-size: 1.15rem;
  padding: .2rem 0;
}

.provider-website {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.provider-website>a:hover {
  transition: 0.3s color ease-in-out;
  color: #4A9AF8;
}

.provider-description {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.last-line {
  display: flex;
  justify-content: space-between;
}

#map {
  margin-left: 3.5rem;
  width: 100%;
}

#map {
  display: none;
}

#mapid {
  height: 90vh;
  width: 100%;
  min-width: 90vh;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1rem;
  color: gray;
  margin: 3rem 0 1rem;
  padding: 1rem;
}

.footer-item {
  padding: 0 1rem;
}

.footer-url {
  color: #4A9AF8;
  font-weight: bold;
}

/* this style is for the placeholder map image, and it can be removed when the OpenStreetMap has been installed. */
.placeholder-map-jpg {
  width: 95.3%;
  margin-top: .6rem;
}

/* end desktop styles */

.mobile-container {
  display: none;
}

/* responsive transition to tablet */

@media screen and (max-width: 1056px) {

  .mobile-container {
      display: inline;
  }

  .desktop-header, .breadcrumb-box {
      display: none;
  }

  body {
    display: flex;
    flex-direction: column-reverse;
  }

  header {
    padding-top: 0;
  }

  header .logo-title {
    display: flex;
  }

  header {
      background-color: black;
      height: 6.6rem;
      overflow-x: hidden; 
      margin: 0 -0.5rem;
      overflow-y: hidden;
      margin-top: -1rem;
  }

  img {
      position: absolute;
      width: 66px;
      height: 66px;
      margin: 1.6rem 0 .4rem 1.75rem;
  }

  .little-help-book {
      position: absolute;
      color: white;
      font-size: 2.2rem;
      font-weight: bold;
      font-family: sans-serif;
      margin: 2.4rem 0 0 5.8rem;
  }

  #search {
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
  }

  #main {
    display: flex;
    flex-wrap: wrap;
  }

  .providers {
    display: flex;
    flex-wrap: wrap;
    min-width: 85rem;
  }
}

/* begin tablet styles */
