@inject NavigationManager navigationManager

<RadzenFieldset>
    <HeaderTemplate>
        <span>
            <RadzenIcon Icon="new_releases" /><b style="font-size:1.2rem">@Alert.Name</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <MarkdownView Content="@Alert.Notes"/>
    </ChildContent>
</RadzenFieldset>

@code {

    [Parameter]
    public Alert Alert { get; set; }

}
