@inject NavigationManager navigationManager

<RadzenFieldset>
    <HeaderTemplate>
        <span style="font-size: 1.5rem;" >
            <RadzenIcon Icon="info" /><b style="margin-left: 5px;vertical-align: top;">@Info.Name</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <MarkdownView Content="@Info.Content"/>
    </ChildContent>
</RadzenFieldset>

@code {

    [Parameter]
    public Info Info { get; set; }

}
