@inherits LayoutComponentBase
<MediaQueryList>
    <div class="main ">
        <RadzenDialog />
        <RadzenNotification />
        <div class="flex-row header justify-content-center">
            <SearchBar></SearchBar>
            <div class="header-image-box">
                <RadzenImage class="header-image" Path="images/White-Bird-Banner.png" />
            </div>
            
        </div>
        <RadzenMenu id="main-nav">
            <RadzenMenuItem Text="Resources" Path="resources" Icon="home"></RadzenMenuItem>
            <RadzenMenuItem Text="Map" Path="map" Icon="map"></RadzenMenuItem>
            <RadzenMenuItem Text="Contribute" Path="contribute" Icon="emoji_people"></RadzenMenuItem>
            <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
        </RadzenMenu>
        <div>
            @Body
        </div>
    </div>
</MediaQueryList>