@inherits LayoutComponentBase

<div class="main ">
    
    <div class="flex-row header justify-content-center">
        <div>Search goes here</div>
        <RadzenImage Path="images/little-web-banner.png" />
    </div>
    <RadzenMenu>
        <RadzenMenuItem Text="Resources" Path="resources" Icon="home"></RadzenMenuItem>
        <RadzenMenuItem Text="Map" Path="map" Icon="map"></RadzenMenuItem>
        <RadzenMenuItem Text="Contribute" Path="contribute" Icon="emoji_people"></RadzenMenuItem>
        <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
    </RadzenMenu>
    <div>
        @Body
    </div>
</div>