@inherits ResizableCachedComponent

    <section class="table-of-contents">
        @if (Cache?.Categories == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="category">
                @foreach (var cat in Cache.Categories)
                {
                    <div class="category-group">
                        <h2 class="category-name h123-reset">
                            @if (cat.SubcategoryList.Count ==0)
                            {
                            <a href="/places/cat/@cat.Id"> @cat.Name</a>
                            }
                            else
                            {
                                @cat.Name
                            }
                        
                        </h2>
                        <div class="subcategory">
                            <ul>
                                @foreach (var sub in cat.SubcategoryList)
                                {
                                    <li><a href="/places/sub/@sub.Id">@sub.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
        </section>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Cache.GetCategories();
    }


}