@inherits ResizableCachedComponent

@if (Cache?.Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var item in Cache.Categories)
    {
        if (IsMedium)
        {
           
                <h2>@item.Name</h2>
           
        }
        else
        {
                <h2>@item.Name</h2>
           
        }
    }

    <MediaQuery Media="@Breakpoints.MediumDown" @bind-Matches="IsMedium" />

}

@code {

    protected override async Task OnInitializedAsync()
    {
        await Cache.GetCategories();
    }


}