//    FILTER SECTION

.filter-section {
  min-width: auto;
  order: 2;
}


//    HELP SERVICES SECTION

#ui-fieldset-0-content {

  .card {
    min-height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: $color-secondary--light;
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    transition: all .2s ease;

    b {
      display: block;
      text-align: center;
    }


    .link {
      color: $color-black;

      &-text{
        display: block;
        text-align: center;
      }

      &:hover {
        text-decoration: none;
      }
    }

    label {
      color: $color-secondary--dark;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-1rem);
      box-shadow: $shadow;
      border: 2px solid $color-white;
    }
  }
}

//    HOME RESPONSIVE MEDIA QUERY

@media(max-width: 992px) {
  .home-flex {
    flex-direction: column-reverse;
  }

  .filter-dropdown-mode {
    display: block;
  }
}