.h123-reset {
  margin: 0;
  padding: 0;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 1.5em 0 2.5em 0;
}
.little-help-book-title {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1em;
  text-align: center;
  padding: 0 0 .3em 0;
}
.clinic-name {
  font-family: Concert One, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}
.lane-county {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  padding: 0 0 .65em 0;
}
.about {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}
.find-my-city {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: .25em;
}
.location-container {
  padding: .5em 6em 0 0;
}
.about-container {
  padding: .2em 0 0 6em;
}
.emergency-container {
  display: flex;
  justify-content: center;
  margin-top: -4.75em;
  margin-bottom: 1.5em;
  margin-left: -2.25em;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-size: .75em;
  padding: .5em 0 .5em 0;
}
.emergency-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
  border-radius: 10px;
  border: none;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 .5em 0;
}
.table-of-contents {
  height: 700px;
  display: flex;
  flex-flow: column wrap;
  padding: 1em 6em 0 6em;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0;
  width: 25%;
}
.category-name {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 0 .5em 0;
  font-size: 1em;
}
.subcategory {
  font-size: .85em;
  font-family: sans-serif;
  line-height: 2em;
  color: blue;
}
.are-you-in-crisis{
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}
.if-crisis{
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85em;
  color: gray;
  line-height: 2;
  margin: .5em 0;
}
.a-z-list {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 1em;
  color: gray;
  line-height: 1.5em;
  margin: 1.25em 0;
}
.community-sponsors {
  text-transform: uppercase;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
}
.footer {
  display: flex;
  justify-content: center;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: .85em;
  color: gray;
  margin: 2.5em 0 4em 0;
}
.footer-item {
  padding: 0 1em;
}
.footer-url {
  color: blue;
}

@media only screen and (max-width: 1195px) {
  .table-of-contents {
    height: 100vh;
  }
}