//    HEADER
#header-search-button {
  background-color: $color-secondary--dark;
  color: $color-white;
  padding: 0 2rem;
  border-radius: $border-rounded;

  &:hover {
    background-color: $color-black;
  }
}

//    FILTER
.category-button-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  min-width: 100%;

  .ui-button,
  .ui-button:first-child,
  .ui-button:last-child {
    background-color: $color-secondary--dark;
    text-align: center;
    color: $color-white;
    padding: 0 2rem;
    border-radius: $border-rounded;

    &:hover {
      background-color: $color-black;
    }

    &:active {
      background-color: $color-primary;
    }
  }
}


