
.ui-datalist-data > li, .ui-g > div {
  background-color: $color-secondary--light;
}
.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: $color-secondary--light;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  transition: all .2s ease;

  b {
    display: block;
    text-align: center;
  }


  .link {
    color: $color-black;

    &-text{
      display: block;
      text-align: center;
    }

    &:hover {
      text-decoration: none;
    }
  }

  label {
    color: $color-secondary--dark;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    box-shadow: $shadow;
    border: 2px solid $color-white;
  }

  @media screen and (max-width: 992px) {
    width: 100%;

  }
}