.table-of-contents {
  margin: 2rem;
  color: blue;

}

.category{
  display: block;
  width: 100%;
  column-count: 4;
  
  &-group {
    display: block;
  }

  &-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: $color-gray--light;
    padding: .5rem 0;
  }

  @media screen and (max-width: 1195px) {
    column-count: 3;
  }

  @media screen and (max-width: 767.98px) {
    column-count: 2;
    
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  
  @media screen and (max-width: 576px) {
    column-count: 1;
    text-align: center;

  }
}

.subcategory {
  font-size: 1rem;
  line-height: 2.5;

  & a {
    color: $color-secondary--dark;
    text-decoration: none;

    &:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
  }
}