.header {

  .ui-panel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;   

    .textbox {
      width: 50%;
      margin: 2rem 0;
      border: 2px solid $color-secondary--dark;
      border-radius: $border-rounded;

      &:focus {
        outline: none;
        border: 3px solid $color-black;
      }
    }
  }

  &-image-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &-image {
    max-width: 100%;
    padding: 0 3rem;
  }
}