#header-search-button {
  background-color: #49516F;
  color: #fff;
  padding: 0 2rem;
  border-radius: 10px; }
  #header-search-button:hover {
    background-color: #160000; }

.category-button-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 100%; }
  .category-button-set .ui-button,
  .category-button-set .ui-button:first-child,
  .category-button-set .ui-button:last-child {
    background-color: #49516F;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
    border-radius: 10px; }
    .category-button-set .ui-button:hover,
    .category-button-set .ui-button:first-child:hover,
    .category-button-set .ui-button:last-child:hover {
      background-color: #160000; }
    .category-button-set .ui-button:active,
    .category-button-set .ui-button:first-child:active,
    .category-button-set .ui-button:last-child:active {
      background-color: #FAA300; }

.ui-datalist-data > li, .ui-g > div {
  background-color: #8EA4D2; }

.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #8EA4D2;
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  /*  transition: all .2s ease;*/ }
  .card b {
    display: block;
    text-align: center; }
  .card .link {
    color: #160000; }
    .card .link-text {
      display: block;
      text-align: center; }
    .card .link:hover {
      text-decoration: none; }
  .card label {
    color: #49516F; }
    .card label:hover {
      cursor: pointer; }
  .card:hover {
    cursor: pointer;
    /*transform: translateY(-1rem);*/
    /* box-shadow: $shadow;
    border: 2px solid $color-white;*/ }
  @media screen and (max-width: 992px) {
    .card {
      width: 100%; } }

.table-of-contents {
  margin: 2rem;
  color: blue; }

.category {
  display: block;
  width: 100%;
  column-count: 4; }
  .category-group {
    display: block; }
  .category-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    padding: .5rem 0; }
    .category-name a {
      color: blue; }
  @media screen and (max-width: 1195px) {
    .category {
      column-count: 3; } }
  @media screen and (max-width: 767.98px) {
    .category {
      column-count: 2; }
      .category ul {
        list-style: none;
        padding-left: 0; } }
  @media screen and (max-width: 576px) {
    .category {
      column-count: 1;
      text-align: center; } }

.subcategory {
  font-size: 1rem;
  line-height: 2.5; }
  .subcategory a {
    color: #49516F;
    text-decoration: none; }
    .subcategory a:hover {
      color: #6279B8;
      text-decoration: underline; }

.header .ui-panel-content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .ui-panel-content .textbox {
    width: 50%;
    margin: 2rem 0;
    border: 2px solid #49516F;
    border-radius: 10px; }
    .header .ui-panel-content .textbox:focus {
      outline: none;
      border: 3px solid #160000; }

.header-image-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.header-image {
  max-width: 100%;
  padding: 0 3rem; }

#main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0; }
  #main-nav .navigation-item {
    background-color: #6279B8;
    border-radius: 10px;
    margin: 0 1rem;
    transition: all .2s ease; }
    #main-nav .navigation-item-wrapper {
      padding: 0; }
    #main-nav .navigation-item:hover {
      background-color: #49516F;
      /*transform: scale(1.1);*/
      box-shadow: 0 0.3rem 0.9rem rgba(22, 0, 0, 0.2);
      z-index: 2; }
    #main-nav .navigation-item-link {
      font-size: 1.2rem;
      height: 100%;
      width: 100%;
      color: #160000;
      padding: .5rem 2rem;
      cursor: pointer; }
      #main-nav .navigation-item-link:hover {
        color: #fff; }

@media (max-width: 992px) {
  #main-nav {
    max-width: 100%; }
    #main-nav .navigation-item {
      margin: .1rem; } }

@media (max-width: 768px) {
  #main-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    text-align: center; } }

body {
  background-color: #fff; }

.filter-section {
  min-width: auto;
  order: 2; }

#ui-fieldset-0-content .card {
  min-height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #8EA4D2;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  transition: all .2s ease; }
  #ui-fieldset-0-content .card b {
    display: block;
    text-align: center; }
  #ui-fieldset-0-content .card .link {
    color: #160000; }
    #ui-fieldset-0-content .card .link-text {
      display: block;
      text-align: center; }
    #ui-fieldset-0-content .card .link:hover {
      text-decoration: none; }
  #ui-fieldset-0-content .card label {
    color: #49516F; }
    #ui-fieldset-0-content .card label:hover {
      cursor: pointer; }
  #ui-fieldset-0-content .card:hover {
    cursor: pointer;
    /*transform: translateY(-1rem);*/
    box-shadow: 0 1rem 2rem rgba(22, 0, 0, 0.3);
    border: 2px solid #fff; }

@media (max-width: 992px) {
  .home-flex {
    flex-direction: column-reverse; }
  .filter-dropdown-mode {
    display: block; } }

.contain-place {
  text-align: center; }

.contain-place ~ .ui-fieldset-content {
  text-align: center; }
