@page "/about"


<RadzenFieldset Text="About">
    <RadzenPanel>
        <h3>This site is a work in progress collaboration between these public and private partners:</h3>
        <ul>
            <li><RadzenLink Path="https://www.eugenechamber.com/" Text="Eugene Chamber of Commerce (primary data)" target="_blank" /></li>
            <li><RadzenLink Path="https://eugene-pwe.maps.arcgis.com/home/index.html" Text="City of Eugene Parking (curbside data)" target="_blank" /></li>
            <li><RadzenLink Path="https://www.OpenEugene.org" Text="Open Eugene (volunteer talent)" target="_blank" /></li>
            <li><RadzenLink Path="https://www.MVPStudio.org" Text="MVP Studio (local hosting)" target="_blank" /></li>
            <li><RadzenLink Path="https://www.darkmatter.consulting" Text="Dark Matter Consulting (volunteer talent)" target="_blank" /></li>
            <li><RadzenLink Path="https://www.mymenuhelper.com/" Text="My Menu Placeer (additional data)" target="_blank" /></li>
            <li><RadzenLink Path="https://heyporter.app/" Text="Porter (additional data)" target="_blank" /></li>
        </ul>
        The Data is Licensed under 
        <RadzenLink Path="https://creativecommons.org/licenses/by-sa/4.0/" Text="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)" target="_blank" /><br/>
        The Code is Licensed under MIT 
        <RadzenLink Path="https://github.com/OpenEugene/eugene-food-scene" Text="Contribute on GitHub" target="_blank" />
        <RadzenLink Icon="construction" Path="config" />
    </RadzenPanel>
</RadzenFieldset>

@code {

    protected override async Task OnInitializedAsync()
    {
    }

}
