@page "/resources"
@page "/"

<div class="d-flex home-flex">
    <RadzenFieldset Text="Filter" class="filter-section">
        <CategoryFilter/>
        <SubcategoryFilter />
    </RadzenFieldset>
    <RadzenFieldset Text="Help Services" class="help-services-section">
        <HelpList/>
    </RadzenFieldset>
</div>


@code {


   

}