@page "/resources"
@page "/"

<div class="d-flex home-flex">
    <RadzenFieldset Text="Filter" class="col-3 filter-section">
        <CategoryFilter/>
    </RadzenFieldset>
    <RadzenFieldset Text="Help Services">
        <HelpList/>
    </RadzenFieldset>
</div>


@code {


   

}