/* *,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: sans-serif;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4A9AF8;
} */

/* begin tablet styles */

@media screen and (max-width: 1056px) {
  /*
    header .logo-title {
      display: flex;
    }
  
    header .black-top {
        background-color: black;
        height: 8vh;
    }
  
    img {
        position: absolute;
        width: 66px;
        height: 66px;
        margin: .59rem 0 .4rem .75rem;
    }
  
    .little-help-book {
        position: absolute;
        color: white;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: sans-serif;
        margin: 1.4rem 0 0 5.6rem;
    }
  */
    .are-you-in-crisis {
        font-style: normal;
        font-family: sans-serif;
        font-size: 4.5rem;
        font-weight: bold;
        margin: 6.2rem 0 0 3.5rem;
    } 
    
      .blue-text {
        color: #4A9AF8;
      }
      
      /* pop-up container */
      .popup {
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* the actual pop-up */
      .popup .popuptext {
        visibility: hidden;
        width: 280%;
        background-color: #fff;
        color: #6a6a6a;
        border-radius: 6px;
        padding: 1rem 1.25rem 11rem 0.1rem;
        position: absolute;
        z-index: 1;
        bottom: -845%;
        right: -19%;
        margin-left: -80px;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      
      /* toggle this class - hide and show the pop-up */
      .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
      }
      
      /* add animation (fade in the pop-up) */
      @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
      }
      
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }
    
      /* end pop-up styles */
      .outline-buttons {
        display: flex;
        flex-direction: column;
        margin: 12rem 3.5rem 4rem;
      }

      /* button {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: transparent;
        border-style: solid;
        border-radius: 10px;
        height: 9rem;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-left: 2rem;
      } */
}

/* begin mobile styles */

@media screen and (max-width: 640px) {
  /*
    header .logo-title {
        display: flex;
    }
  
    header .black-top {
        background-color: black;
        height: 8vh;
    }
  
    img {
        position: absolute;
        width: 42px;
        height: 42px;
        margin: .49rem 0 .4rem .55rem;
    }
  
    .little-help-book {
        position: absolute;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: sans-serif;
        margin: 1.1rem 0 0 3.7rem;
    }
  */
    .are-you-in-crisis {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 3.5rem 0 0 2rem;
    }

    .outline-buttons {
        margin: 32% 1.5rem 4rem;
    }
/*   
    button {
        height: 6.8rem;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        padding-left: 5.8%; */
    }
}