*,
*:before,
*:after {
  box-sizing: border-box;
}

header, main {
  font-family: sans-serif;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}

/* begin new header */

/* .container {
  display: flex;
  flex-direction: column;
} */

.desktop-header {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1rem;
  background-color: black;
  height: 6.6rem;
  overflow-x: hidden; 
  margin: 0 -0.5rem;
  overflow-y: hidden;
  margin-top: -1rem;
  margin-bottom: 2.25rem;
}

.desktop-logo {
  width: 66px;
  height: 66px;
  margin: 1.6rem 0 .4rem .75rem;
}

.little-help-book {
  font-size: 2.2rem;
  white-space: nowrap;
  margin: 2.4rem 0 0 .7rem;
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  color: white;
  background-color: black;
  border-radius: 8px;
  border-style: solid;
  border: none;
  margin: 3rem 0 1.5rem 0;
}

.lane-county {
  margin: 3.4rem 0 0 0;
}

.search {
  margin: 3.4rem 0 0 0;
}


body {

  background-color: #f5f5f5;

}

  main {
    columns: 4;
  }
  
  .table-of-contents {
    padding: 0 6rem 0 6rem;
  }

  .category-name>a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1.5rem;
    transition: 0.3s color ease-in-out;
  }
  
  .category-name>a:hover {
    color: #bf3fbf;
  }
  
  .category-name {
    padding: 0 0 .75rem 0;
  }
  .subcategory {
    font-size: 1rem;
    line-height: 2em;
    color: rgb(88, 88, 88); 
    margin: -0.5rem 0 1.1rem 0;
  }

  .are-you-in-crisis {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin: 1em 0 0 0;
  }

  .blue-text {
    color: blue;
  }
  
  /* popup container */
  .popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* the actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 25rem;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: .85rem .85rem 1rem 1.15rem;
    position: absolute;
    z-index: 1;
    bottom: 155%;
    right: -150.8%;
    margin-left: -80px;
    font-family: sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
  }
  
  /* toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  .a-z-list {
    font-style: normal;
    font-weight: light;
    font-size: 1em;
    color: gray;
    line-height: 1.5em;
    margin: 1.95em 0 2.25rem 0;
  }
  
  .community-sponsors {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    margin: 0.8rem 0;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: light;
    font-size: .85rem;
    color: gray;
    margin: 3rem 0 1rem;
    padding: 1rem;
  }
  
  .footer-item {
    padding: 0 1rem;
  }
  
  .footer-url {
    color: blue;
  }

/* end desktop styles */

.mobile-container {
  display: none;
}

/* responsive transition to tablet */

@media screen and (max-width: 1056px) {

  .mobile-container {
      display: inline;
  }

  .container {
      display: none;
  }

  .content-container {
      display: flex;
      flex-direction: column;
  }

  header {
    padding-top: 0;
  }

  header .logo-title {
    display: flex;
  }

  .black-top {
      background-color: black;
      height: 6.6rem;
      overflow-x: hidden; 
      margin: 0 -0.5rem;
      overflow-y: hidden;
      margin-top: -1rem;
  }

  img {
      position: absolute;
      width: 66px;
      height: 66px;
      margin: 1.6rem 0 .4rem .75rem;
  }

  .little-help-book {
      position: absolute;
      color: white;
      font-size: 2.2rem;
      font-weight: bold;
      font-family: sans-serif;
      margin: 2.4rem 0 0 5.6rem;
  }

  .people-care {
      font-size: 5.2rem;
      font-weight: bold;
      margin: 5.5rem 0 0 3.5rem;
  }

  .find-help-in-lane {
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 3.3rem;
      margin: 1.5rem 5rem 0 3.5rem;
  }

  .buttons {
      display: flex;
      flex-direction: column;
      margin: 8.8rem 0 2rem 3.5rem;
  }

  .help-button, .spanish-button {
      background-color: black;
      color: white;
      border: none;
      border-radius: 10px;
      width: 13rem;
      height: 7rem;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 2.5rem;
  }

  .spanish-button {
    margin-top: 3rem;
}

  footer {
      font-family: sans-serif;
      font-size: 1.45rem;
      font-weight: lighter;
      line-height: 1.7rem;
      margin: 3rem 0 2rem 3.5rem;
      padding-bottom: 2rem;
  }

  footer .bold-inline {
      display: inline;
      font-size: 1.45rem;
      font-weight: bold;
  }
}

/* begin tablet styles */

@media screen and (max-width: 770px) {

.mobile-container {
    display: inline;
}

.container {
    display: none;
}

header {
    padding-top: 0;
}

header .logo-title {
    display: flex;
}

}

/* begin mobile styles */

@media screen and (max-width: 640px) {

.black-top {
    height: 5rem;
}

img {
    width: 42px;
    height: 42px;
    margin: 1.49rem 0 .4rem .55rem;
}

.little-help-book {
    font-size: 1.2rem;
    margin: 2.1rem 0 0 3.7rem;
}

.people-care {
    font-size: 2.4rem;
    margin: 3.5rem 0 0 2rem;
}

.find-help-in-lane {
    font-size: 1.125rem;
    line-height: 1.7rem;
    margin: 1rem 0.5rem 0 2rem;
}

.buttons {
    position: absolute;
    bottom: 18.6%;
    margin: 7.2rem 0 0 2rem;
}

.help-button, .spanish-button {
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
}

.spanish-button {
    margin-top: 1.8rem;
}

footer {
    position: absolute;
    bottom: 1%;
    font-size: 1.2rem;
    width: 20rem;
    margin: 3rem 0 0 2rem;
}

footer .bold-inline {
    font-size: 1.2rem;
}

}
