*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: sans-serif;
}

.h123-reset {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  header {
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: .4rem;
  }
  
  header .top,
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  header .box-1 {
      display: flex;
      flex-direction: column;
      margin-left: -1rem;
  }

  .little-help-book-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1rem;
    white-space: nowrap;
  }
  
  .about {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem 0 0 0;
  }
  
  .clinic-name {
    font-family: Concert One, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1rem;
    text-align: center;
    white-space: nowrap;
  }
  
  .emergency-container {
    font-family: sans-serif;
    font-style: normal;
    font-size: .75em;
    padding: 1.25rem 0 .3rem 0;
  }
  
  .emergency-button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
    padding: .5em 1em;
    border-radius: 22px;
    border: none;
  }

  .emergency-button:hover {
    background-color: #bf3fbf;
    transition: 1s background-color ease-in-out;
 }

 /* begin emergency number list styles */

 .emergency-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 /* Links inside the dropdown */
 .emergency-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  font-size: 1rem;
 }
 
 /* Change color of dropdown links on hover */
 .emergency-list a:hover {background-color: #ddd}
 
 /* end emergency number list styles */
  
  header .box-3 {
      display: flex;
      flex-direction: column;
      margin-right: -1rem;
  }

  .lane-county {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1rem;
    white-space: nowrap;
  }
  
  .find-my-city {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;

  }

.dropdown-button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: .25rem;
  padding: 1.5rem 0;
 
}

.list-of-cities {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-button:hover {
   color: #bf3fbf;
   transition: 0.3s color ease-in-out;
}

/* Links inside the dropdown */
.list-of-cities a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.list-of-cities a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  /* end dropdown styles */
  
  .spanish {
    font-family: sans-serif;
  }

  .button-style {
    background-color: white;
    height: 2.3rem;
    border-radius: 8px;
    border-style: solid;
    margin: 0 6.3rem 0 0;
  }

  header .search {
    margin: 0 auto;
    display: flex;
    width: 66.6%;
    margin-left: 5.9rem;
  }
  
  header .search input {
    width: 100%;
    height: 2.4rem;
  }
  
  .search-input {
    background-image: url(WHITEBIRDLOGO.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-color: #e2e2e2;
    border-radius: 8px;
    padding-left: 40px;
    border: none;
  }

  main {
    columns: 4;
  }
  
  .table-of-contents {
    padding: 0 6rem 0 6rem;
  }

  .category-name>a {
    display: block;
    text-decoration: none;
    color: blue;
    background-color: #f5f5f5;
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1rem;
    transition: 0.3s color ease-in-out;
  }
  
  .category-name>a:hover {
    color: #bf3fbf;
  }
  
  .category-name {
    padding: 0 0 .75rem 0;
  }
  .subcategory {
    font-size: .85em;
    line-height: 2em;
    color: blue;
    margin: -0.5rem 0 1.1rem 0;
  }

  .are-you-in-crisis {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin: 1em 0 0 0;
  }

  .blue-text {
    color: blue;
  }
  
  /* popup container */
  .popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* the actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 25rem;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: .85rem .85rem 1rem 1.15rem;
    position: absolute;
    z-index: 1;
    bottom: 155%;
    right: -150.8%;
    margin-left: -80px;
    font-family: sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
  }
  
  /* toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  .a-z-list {
    font-style: normal;
    font-weight: light;
    font-size: 1em;
    color: gray;
    line-height: 1.5em;
    margin: 1.95em 0 2.25rem 0;
  }
  
  .community-sponsors {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    margin: 0.8rem 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: light;
    font-size: .85rem;
    color: gray;
    margin: 3rem 0 1rem;
  }
  
  .footer-item {
    padding: 0 1rem;
  }
  
  .footer-url {
    color: blue;
  }

/* end desktop styles */

  .mobile-container {
    display: none;
}

/* responsive transition to tablet */

@media screen and (max-width: 1056px) {

    .mobile-container {
        display: inline;
    }
  
    .container {
        display: none;
    }
  
    .content-container {
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
    }
  
    header {
      padding-top: 0;
    }
  
    header .logo-title {
      display: flex;
    }
  
    .black-top {
        background-color: black;
        height: 6.6rem;
        overflow-x: hidden; 
        margin: 0 -1rem;
        overflow-y: hidden;
        margin-top: -1rem;
    }
  
    img {
        position: absolute;
        width: 66px;
        height: 66px;
        margin: .59rem 0 .4rem .75rem;
    }
  
    .little-help-book {
        position: absolute;
        color: white;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: sans-serif;
        margin: 1.4rem 0 0 5.6rem;
    }
  
    .people-care {
        font-size: 5.2rem;
        font-weight: bold;
        margin: 5.5rem 0 0 3.5rem;
    }
  
    .find-help-in-lane {
        font-size: 2.3rem;
        font-weight: bold;
        line-height: 3.3rem;
        margin: 1.5rem 5rem 0 3.5rem;
    }
  
    .buttons {
        margin: 7.2rem 0 2rem 3.5rem;
    }
  
    .help-button, .spanish-button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        width: 13rem;
        height: 7rem;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 2.5rem;
    }
  
    footer {
        display: inline;
        font-family: sans-serif;
        font-size: 1.45rem;
        font-weight: lighter;
        line-height: 1.7rem;
        margin: 3rem 0 4.3rem 3.5rem;
        padding-bottom: 3rem;
    }
  
    footer .bold-inline {
        display: inline;
        font-size: 1.45rem;
        font-weight: bold;
    }
  }
  
/* begin tablet styles */

@media screen and (max-width: 800px) {

    .buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 16.5%;
        margin: 7.2rem 0 0 3.5rem;
    }

    .spanish-button {
        margin-top: 3rem;
    }

    footer {
        margin: 3rem 0 0 3.5rem;
        padding-bottom: 0;
        position: absolute;
        bottom: 6%;
    }

}

@media screen and (max-width: 770px) {

  .mobile-container {
      display: inline;
  }

  .container {
      display: none;
  }

  .content-container {
      display: flex;
      flex-direction: column;
      margin-top: -2rem;
  }

  header {
      padding-top: 0;
  }

  header .logo-title {
      display: flex;
  }

  .buttons {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 16.5%;
      margin: 7.2rem 0 0 3.5rem;
  }

  .spanish-button {
      margin-top: 3rem;
  }

}

/* begin mobile styles */

@media screen and (max-width: 640px) {

 .black-top {
      height: 5rem;
  }

  img {
      width: 42px;
      height: 42px;
      margin: .49rem 0 .4rem .55rem;
  }

  .little-help-book {
      font-size: 1.2rem;
      margin: 1.1rem 0 0 3.7rem;
  }

  .people-care {
      font-size: 2.4rem;
      margin: 3.5rem 0 0 2rem;
  }

  .find-help-in-lane {
      font-size: 1.125rem;
      line-height: 1.7rem;
      margin: 1rem 0.5rem 0 2rem;
  }

  .buttons {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 23%;
      margin: 7.2rem 0 0 2rem;
  }

  .help-button, .spanish-button {
      width: 10rem;
      height: 5rem;
      font-size: 1.5rem;
  }

  .spanish-button {
      margin-top: 1.8rem;
  }

  footer {
      font-size: 1.2rem;
      width: 20rem;
      margin: 3rem 0 0 2rem;
      position: absolute;
      bottom: 6%;
  }

  footer .bold-inline {
      font-size: 1.2rem;
  }

}




